@media all /*pc e telas maiores*/ {
  /*gerais*/
  * {
    margin: 0;
    padding: 0;
  }

  body::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }

  html {
    height: 100vh;
    width: 100vw;
  }

  body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(5, 5, 5);
    color: white;
  }

  /*header*/

.primeira-imagem{
  position: relative;
  color: white;
  height: 100vh;
  width: 100vw;
  background-image: url(./imagens/Foto\ de\ fundo\ principal.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.icone-mapa{
  width: 40px;
}

.informações-cabeçalho{
  display: flex;
  justify-content: space-evenly;
  gap: 1em;
  padding: 1em;
  align-items: center;
}

.informações-cabeçalho p{
  cursor: pointer;
}

.the-great{
  text-align: center;
  padding-top: 100px;
  width: 70vw;
  margin: auto;
}

.titulo-thegreat{
  font-size: 80px;
}

.paragrafo-wander{
  font-size: 20px;
  margin-top: 1em;
}

.imagem-video{
  margin-top: 4em;
  width: 60px;
}






  /*main*/

.explore-mundo{
  width: 80vw;
  padding: 2em 1em;
  margin: auto;
  text-align: center;
  max-width: 1600px;
}

.paragrafo-weseek{
  margin-top: 1em;
  text-align: center;
}

.imagens{
  width: 200px;
}

.imagens-montanha{
  display: flex;
  justify-content: space-evenly;
  gap: 2em;
  flex-wrap: wrap;
  margin: auto;
  width: 70vw;
  max-width: 1600px;
  padding: 2em 1em;
}

.see-more{
  color: blue;
  font-size: 10px;
  text-align: center;
  margin-top: 2em;
}

.the-journal{
  width: 80vw;
  padding: 2em 1em;
  margin: auto;
  text-align: center;
  max-width: 1600px;
}

.our-favorite{
  margin-top: 1em;
}

.imagem-ponte{
  width: 400px;
  margin-top: 3em;
}

.fotos-ponte-rio{
  display: flex;
  justify-content: center;
  gap: 3em;
  text-align: center;
  flex-wrap: wrap;
  width: 80vw;
  margin: auto;
  max-width: 1600px;
}

.may{
  margin-top: 1em;
  font-size: 10px;
}

.symp{
  margin-top: 0.5em;
}

.cross{
  margin-top: 1.0em;
  font-size: 14px;
}





  /*footer*/

footer{
  text-align: center;
  padding: 5em 1em 2em 1em;
  font-size: 10px;
}

}


/* Estilos para dispositivos móveis */
@media (max-width: 768px) {

.retirar-p{
  display: none;
}

.icone-mapa{
  width: 80px;
  margin-top: 2em;
}

.titulo-thegreat{
  font-size: 60px;
}

.paragrafo-wander{
  font-size: 30px;
}

.imagem-video{
  display: none;
}

.titulo-thegreat{font-size: 40px;}

.paragrafo-wander{
  font-size: 20px;
}

.icone-mapa{
  width: 40px;
}

}